<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>drb</title>
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
  <link rel="icon"  href="static/linkedin_photo.jpeg" >
</head>
<body>
    <div class="container">
      <div class="content" >
        <h1>Welcome to my page! </h1>
        <p>My name is Declan and I am software engineer interested in AI, ML, the internet,
          robotics, bioinformatics, and computation theory!
        </p>
      </div>
      <div class="container">
        <img src="static/linkedin_photo.jpeg" alt="favicon.ico"
             style="max-width:80%;height:auto;align-content:center">
      </div>
    </div>
    <div></div>
    <div class="container">
      <div class="content">
      <a href="https://www.linkedin.com/in/declan-borcich/" class="button" >
        My LinkedIn
      </a>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <a href="https://github.com/gojumbos" class="button" >
          My GitHub
        </a>
      </div>
    </div>
    <div class="container">
      <div class="content">
{#      <p> #}
        <a href="https://clownfish-app-8om3z.ondigitalocean.app/dob-soda2" class="button" >
          A working MVP of mine (credentials available - just reach out!)
        </a>
      </div>
<script>
  // Add any JavaScript functionality here

  document.addEventListener('DOMContentLoaded', function() {
    console.log('Page loaded and ready!');
  });
</script>
</body>
</html>
